[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pulp = "*"
networkx = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
tqdm = "*"
gurobipy = "*"
seaborn = "*"

[dev-packages]
jupyterlab-vim = "*"
jupyter-black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
